<section class="advertisement">
  <div class="advertisement__wrapper">
    <div class="advertisement__description">
      <h1 class="advertisement__description__title">
        Navigating the digital landscape for success
      </h1>
      <p class="advertisement__description__paragraph">
        Our digital marketing agency helps businesses grow and succeed online
        through a range of services including SEO, PPC, social media marketing,
        and content creation.
      </p>
      <a class="advertisement__description__button">
        Book a consultation
      </a>
    </div>
    <div class="advertisement__image"></div>
  </div>

  <div class="advertisement__icons">
    <span class="advertisement__icon advertisement__icon__first"></span>
    <span class="advertisement__icon advertisement__icon__second"></span>
    <span class="advertisement__icon advertisement__icon__third"></span>
    <span class="advertisement__icon advertisement__icon__fourth"></span>
    <span class="advertisement__icon advertisement__icon__fifth"></span>
    <span class="advertisement__icon advertisement__icon__sixth"></span>
  </div>
</section>
