<section class="services">
  <div class="section__header">
    <h1 class="section__header__title bg--green">Services</h1>
    <p class="section__header__paragraph">
      At our digital marketing agency, we offer a range of services to help
      businesses grow and succeed online. These services include:
    </p>
  </div>

  <div class="services__main">
    <div class="services__row">
      <div class="services__card">
        <div class="services__card__description">
          <h1 class="services__card__title bg--green">Search engine <br> optimization</h1>
          <div class="services__card__bottom">
            <a href="#" class="arrow__icon green__arrow"></a>
            <a href="#" class="services__card__paragraph">Learn more</a>
          </div>
        </div>
        <div class="services__card__image services__card__image--first"></div>
      </div>
      <div class="services__card bg--green">
        <div class="services__card__description">
          <h1 class="services__card__title bg--white">Pay-per-click <br> advertising</h1>
          <div class="services__card__bottom">
            <a href="#" class="arrow__icon green__arrow"></a>
            <a href="#" class="services__card__paragraph">Learn more</a>
          </div>
        </div>
        <div class="services__card__image services__card__image--second"></div>
      </div>
    </div>
    <div class="services__row">
      <div class="services__card bg--black">
        <div class="services__card__description">
          <h1 class="services__card__title bg--white">Social Media <br> Marketing</h1>
          <div class="services__card__bottom">
            <a href="#" class="arrow__icon black__arrow"></a>
            <a href="#" class="services__card__paragraph">Learn more</a>
          </div>
        </div>
        <div class="services__card__image services__card__image--third"></div>
      </div>
      <div class="services__card">
        <div class="services__card__description">
          <h1 class="services__card__title bg--green">Email <br> Marketing</h1>
          <div class="services__card__bottom">
            <a href="#" class="arrow__icon green__arrow"></a>
            <a href="#" class="services__card__paragraph">Learn more</a>
          </div>
        </div>
        <div class="services__card__image services__card__image--fourth"></div>
      </div>
    </div>
    <div class="services__row">
      <div class="services__card bg--green">
        <div class="services__card__description">
          <h1 class="services__card__title bg--white">Content <br> Creation</h1>
          <div class="services__card__bottom">
            <a href="#" class="arrow__icon green__arrow"></a>
            <a href="#" class="services__card__paragraph">Learn more</a>
          </div>
        </div>
        <div class="services__card__image services__card__image--fifth"></div>
      </div>
      <div class="services__card bg--black">
        <div class="services__card__description">
          <h1 class="services__card__title bg--green">Analytics and <br> Tracking</h1>
          <div class="services__card__bottom">
            <a href="#" class="arrow__icon black__arrow"></a>
            <a href="#" class="services__card__paragraph">Learn more</a>
          </div>
        </div>
        <div class="services__card__image services__card__image--sixth"></div>
      </div>
    </div>
  </div>
</section>
