<section class="studies">
  <div class="section__header">
    <h1 class="section__header__title bg--green">Case Studies</h1>
    <p class="section__header__paragraph">
      Explore Real-Life Examples of Our Proven Digital Marketing Success through
      Our Case Studies
    </p>
  </div>

  <div class="studies__main">
    <div class="studies__block">
      <p class="studies__block__paragraph">
        For a local restaurant, we implemented a targeted PPC campaign that
        resulted in a 50% increase in website traffic and a 25% increase in
        sales.
      </p>
      <div class="studies__block__bottom">
        <a href="#" class="studies__block__link">Learn more</a>
        <a href="#" class="arrow__icon green__arrow"></a>
      </div>
    </div>
    <div class="studies__block studies__block__bordered">
      <p class="studies__block__paragraph">
        For a B2B software company, we developed an SEO strategy that resulted
        in a first page ranking for key keywords and a 200% increase in organic
        traffic.
      </p>
      <div class="studies__block__bottom">
        <a href="#" class="studies__block__link">Learn more</a>
        <a href="#" class="arrow__icon green__arrow"></a>
      </div>
    </div>
    <div class="studies__block">
      <p class="studies__block__paragraph">
        For a national retail chain, we created a social media marketing
        campaign that increased followers by 25% and generated a 20% increase in
        online sales.
      </p>
      <div class="studies__block__bottom">
        <a href="#" class="studies__block__link">Learn more</a>
        <a href="#" class="arrow__icon green__arrow"></a>
      </div>
    </div>
  </div>
</section>
