<section class="team">
  <div class="section__header">
    <h1 class="section__header__title bg--green">Team</h1>
    <p class="section__header__paragraph">
      Meet the skilled and experienced team behind our successful digital
      marketing strategies
    </p>
  </div>

  <div class="team__main">
    <div class="team__row">
      <div class="team__item">
        <div class="team__item__header">
          <div class="team__item__image"><img ngSrc="team_image_1.png" width="103" height="103" alt="image" priority></div>
          <div class="team__item__info">
            <div class="team__item__link">
              <span class="team__item__icon"></span>
            </div>
            <div class="team__item__description">
              <h1 class="team__item__title">John Smith</h1>
              <p class="team__item__subtitle">CEO and Founder</p>
            </div>
          </div>
        </div>
        <div class="team__item__footer">
          <p class="team__item__paragraph">
            10+ years of experience in digital marketing. Expertise in SEO, PPC,
            and content strategy
          </p>
        </div>
      </div>

      <div class="team__item">
        <div class="team__item__header">
          <div class="team__item__image"><img ngSrc="team_image_2.png" width="103" height="103" alt="image" priority></div>
          <div class="team__item__info">
            <div class="team__item__link">
              <span class="team__item__icon"></span>
            </div>
            <div class="team__item__description">
              <h1 class="team__item__title">Jane Doe</h1>
              <p class="team__item__subtitle">Director of Operations</p>
            </div>
          </div>
        </div>
        <div class="team__item__footer">
          <p class="team__item__paragraph">
            7+ years of experience in project management and team leadership.
            Strong organizational and communication skills
          </p>
        </div>
      </div>

      <div class="team__item">
        <div class="team__item__header">
          <div class="team__item__image"><img ngSrc="team_image_3.png" width="103" height="103" alt="image" priority></div>
          <div class="team__item__info">
            <div class="team__item__link">
              <span class="team__item__icon"></span>
            </div>
            <div class="team__item__description">
              <h1 class="team__item__title">Michael Brown</h1>
              <p class="team__item__subtitle">Senior SEO Specialist</p>
            </div>
          </div>
        </div>
        <div class="team__item__footer">
          <p class="team__item__paragraph">
            5+ years of experience in SEO and content creation. Proficient in
            keyword research and on-page optimization
          </p>
        </div>
      </div>
    </div>
    <div class="team__row">
      <div class="team__item">
        <div class="team__item__header">
          <div class="team__item__image"><img ngSrc="team_image_4.png" width="103" height="103" alt="image" priority></div>
          <div class="team__item__info">
            <div class="team__item__link">
              <span class="team__item__icon"></span>
            </div>
            <div class="team__item__description">
              <h1 class="team__item__title">Emily Johnson</h1>
              <p class="team__item__subtitle">PPC Manager</p>
            </div>
          </div>
        </div>
        <div class="team__item__footer">
          <p class="team__item__paragraph">
            3+ years of experience in paid search advertising. Skilled in
            campaign management and performance analysis
          </p>
        </div>
      </div>

      <div class="team__item">
        <div class="team__item__header">
          <div class="team__item__image"><img ngSrc="team_image_5.png" width="103" height="103" alt="image" priority></div>
          <div class="team__item__info">
            <div class="team__item__link">
              <span class="team__item__icon"></span>
            </div>
            <div class="team__item__description">
              <h1 class="team__item__title">Brian Williams</h1>
              <p class="team__item__subtitle">Social Media Specialist</p>
            </div>
          </div>
        </div>
        <div class="team__item__footer">
          <p class="team__item__paragraph">
            4+ years of experience in social media marketing. Proficient in
            creating and scheduling content, analyzing metrics, and building
            engagement
          </p>
        </div>
      </div>

      <div class="team__item">
        <div class="team__item__header">
          <div class="team__item__image"><img ngSrc="team_image_6.png" width="103" height="103" alt="image" priority></div>
          <div class="team__item__info">
            <div class="team__item__link">
              <span class="team__item__icon"></span>
            </div>
            <div class="team__item__description">
              <h1 class="team__item__title">Sarah Kim</h1>
              <p class="team__item__subtitle">Content Creator</p>
            </div>
          </div>
        </div>
        <div class="team__item__footer">
          <p class="team__item__paragraph">
            2+ years of experience in writing and editing Skilled in creating
            compelling, SEO-optimized content for various industries
          </p>
        </div>
      </div>
    </div>

    <div class="team__button__wrapper"><a href="#" class="team__button">See all team</a>
    </div>
    
  </div>
</section>
